# Arquivos de compilação do Visual Studio
.vs/
bin/
obj/

# Arquivos de dependências
node_modules/

# Arquivos de registro e cache
*.log
*.cache

# Arquivos de compilação
*.dll
*.exe

# Arquivos de saída de depuração
*.pdb

# Arquivos de projeto
*.user
*.vscode
*.suo
# Arquivos temporários
*.tmp
Temp.txt
# Arquivos de backup
*~
*.bak
Visual Studio 2022/