@page
@model StockProject.Pages.Material.CreateModel

@{
    ViewData["Title"] = "Criar";
}

<h1>Criar</h1>

<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Material.SupplierId" class="control-label"></label>
                <select asp-for="Material.SupplierId" class="form-control" asp-items="ViewBag.SupplierId">
                    <option value="">Selecione o Fornecedor</option>
                </select>
                <span asp-validation-for="Material.SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">QRCode</label>
                <input id="qrcode" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Material.Code" class="control-label"></label>
                <input asp-for="Material.Code" class="form-control" />
                <span asp-validation-for="Material.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Name" class="control-label"></label>
                <input asp-for="Material.Name" class="form-control" />
                <span asp-validation-for="Material.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Description" class="control-label"></label>
                <input asp-for="Material.Description" class="form-control" />
                <span asp-validation-for="Material.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.FiscalCode" class="control-label"></label>
                <input asp-for="Material.FiscalCode" class="form-control" />
                <span asp-validation-for="Material.FiscalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Specie" class="control-label"></label>
                <input asp-for="Material.Specie" class="form-control" />
                <span asp-validation-for="Material.Specie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.CreatedBy" class="control-label"></label>
                <input asp-for="Material.CreatedBy" class="form-control" />
                <span asp-validation-for="Material.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.UpdatedBy" class="control-label"></label>
                <input asp-for="Material.UpdatedBy" class="form-control" />
                <span asp-validation-for="Material.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#Material_SupplierId').change(function () {
                var supplierId = $(this).val();
                $.get('/Material/Create?handler=GetQRCode&id=' + supplierId, function (qrCode) {
                    $('#qrcode').val(qrCode);
                });
            });
        })
    </script>
}
