@page
@model StockProject.Pages.Material.CreateModel

@{
    ViewData["Title"] = "Criar";
}


<div class="container my-4">
    <div class="card border-info">
        <div class="card-body">
            <h1 class="card-title text-center fs-4 fw-bold">Criar Material</h1>



            @if (ViewBag.SupplierId == null || !(ViewBag.SupplierId as SelectList)?.Any() ?? true)
            {
                <div class="alert alert-danger mt-3" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i> Não há Fornecedores cadastrados. Cadastre !!!
                </div>
            }
            else
            {

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Material.SupplierId" class="form-label">Fornecedor:</label>
                        <select asp-for="Material.SupplierId" class="form-control" asp-items="ViewBag.SupplierId">
                            <option value="">Selecione o Fornecedor</option>
                        </select>
                        <span asp-validation-for="Material.SupplierId" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">QRCode</label>
                        <input id="qrcode" class="form-control" readonly />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Material.Code" class="form-label">Código:</label>
                        <input asp-for="Material.Code" class="form-control" />
                        <span asp-validation-for="Material.Code" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Material.Name" class="form-label">Nome:</label>
                        <input asp-for="Material.Name" class="form-control" />
                        <span asp-validation-for="Material.Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Material.Description" class="form-label">Descrição:</label>
                        <input asp-for="Material.Description" class="form-control" />
                        <span asp-validation-for="Material.Description" class="text-danger"></span>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Material.FiscalCode" class="form-label">Código Fiscal:</label>
                            <input asp-for="Material.FiscalCode" class="form-control" />
                            <span asp-validation-for="Material.FiscalCode" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Material.Specie" class="form-label">Espécie:</label>
                            <input asp-for="Material.Specie" class="form-control" />
                            <span asp-validation-for="Material.Specie" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Material.CreatedBy" class="form-label">Criado Por:</label>
                            <input asp-for="Material.CreatedBy" class="form-control" />
                            <span asp-validation-for="Material.CreatedBy" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Material.UpdatedBy" class="form-label">Atualizado Por:</label>
                            <input asp-for="Material.UpdatedBy" class="form-control" />
                            <span asp-validation-for="Material.UpdatedBy" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a asp-page="Index" class="btn btn-danger me-md-2 btn-lg" role="button">
                            <i class="bi bi-box-arrow-left"></i>
                            Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="bi bi-check-lg"></i>
                            Criar
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
            

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#Material_SupplierId').change(function () {
                var supplierId = $(this).val();
                $.get('/Material/Create?handler=GetQRCode&id=' + supplierId, function (qrCode) {
                    $('#qrcode').val(qrCode);
                });
            });
        })
    </script>
}
